div
  .container-fluid.flex-grow-1.containerFooter
    .row.py-5
      .col-lg-12.text-white.text-center
        h1.display-3.h1Footer GOB CHAIN
        p.lead.mb-0.pFooter Sistema transparente de gestión de transacciones del gobierno
        p.lead.py-3.pFooter UNAM Facultad de Ingeníeria
  footer.footerCSS
    .container.py-5.containerFooter1
      .row.py-3
        .col-lg-4.col-md-6.mb-4.mb-lg-0
          h6.text-uppercase.font-weight-bold.mb-4 Policy
          ul.list-unstyled.mb-0
            li.mb-2
              a.text-muted(href='#') Return Policy
            li.mb-2
              a.text-muted(href='#') Terms Of Use
        .col-lg-4.col-md-6.mb-4.mb-lg-0
          h6.text-uppercase.font-weight-bold.mb-4 Company
          ul.list-unstyled.mb-0
            li.mb-2
              a.text-muted(href='#') Login
            li.mb-2
              a.text-muted(href='#') Register
        .col-lg-4.col-md-6.mb-lg-0
          h6.text-uppercase.font-weight-bold.mb-4 Registered Office Address
          p.text-muted.mb-4
            | Here , write the complete address of the Registered office address along with telephone number.
          ul.list-inline.mt-4
            li.list-inline-item
              a(href='#' target='_blank' title='twitter')
                i.fab.fa-2x.fa-twitter
            li.list-inline-item
              a(href='#' target='_blank' title='facebook')
                i.fab.fa-2x.fa-facebook-f
            li.list-inline-item
              a(href='#' target='_blank' title='instagram')
                i.fab.fa-2x.fa-instagram
            li.list-inline-item
              a(href='#' target='_blank' title='pinterest')
                i.fab.fa-2x.fa-youtube
            li.list-inline-item
              a(href='#' target='_blank' title='vimeo')
                i.fab.fa-2x.fa-google
