nav.navbar.navbar-fixed-top.navbar-expand-lg.navbar-dark(style='background-color: #621132;')
  a.navbar-brand(href='/')
    img(src='https://www.capital21.cdmx.gob.mx/templates/administracionsprcdmx/img/logo.png' alt='' width='200px' height='100%')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    div(class='d-flex justify-content-center')
      ul.navbar-nav.m-auto
        li.nav-item.active

          a.nav-link(href='/')
            | Inicio
            span.sr-only (current)
        if logged
            li.nav-item.active
              form("action"="/logout" "method"="POST" id="myform")
                a.nav-link(href='#' onclick="document.getElementById('myform').submit()") Cerrar sesión
        else
            li.nav-item.active
              a.nav-link(href='/login')
                | Iniciar sesión
            li.nav-item.active
              a.nav-link(href='/signup')
                | Registro
