doctype html
html
  include constante/head.pug
  body
    include constante/navbar.pug
    a('href'='/fabric') ver transacciones
    br
    a('href'='/app/registro_movimientos') agregar transacción
  include constante/footer
