doctype html
html
  include constante/head.pug
  body
    include constante/navbar.pug
    a('href'='/gobchain') ver transacciones
    br
    a('href'='/app/agregar_transaccion') agregar transacción
    form("action"="/logout" "method"="POST")
            input('type'='submit','value'='logout')
  include constante/footer
