doctype html
html
    include constante/head.pug
    body
        include constante/navbar.pug
        ul
            li Santander Martínez Ángel Antonio
            a('href'='/login') login
            br
            a('href'='/signup') registro
    include constante/footer
