doctype html
html
    head
        include constante/head.pug
        link('rel'="stylesheet", href='/css/styleForm.css')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/css/styles.css')
    body.bodyBackground
        include constante/navbar.pug
        div(class='d-flex justify-content-center')
            .form-body
              .row
                .form-holder
                  .form-content
                    .form-items.backgroundForm
                      h3 Registro de usuario
                      p Por favor completa los siguientes datos:
                      form.requires-validation("action"="/signup" "method"="POST")
                        .col-md-12
                          input.form-control(type='text' name='nombre' required='true')
                          label.form-control-placeholder(for='Nombre') Nombre
                          .valid-feedback Nombre válido
                          .invalid-feedback Nombre inválido
                        br
                        .col-md-12
                          input.form-control(type='text' name='paterno' required='true')
                          label.form-control-placeholder(for='Apellido paterno') Apellido paterno
                          .valid-feedback Apellido paterno válido
                          .invalid-feedback Apellido paterno no válido
                        br
                        .col-md-12
                          input.form-control(type='text' name='materno' required='false')
                          label.form-control-placeholder(for='Apellido materno') Apellido materno
                          .valid-feedback Apellido materno válido
                          .invalid-feedback Apellido materno no válido
                        br
                        .col-md-12
                          select.form-select.mt-3(name='dependenciaid' required='', id='dependencia_select')
                            option(selected='' disabled='' value='') Dependencia
                            option(value='0') Cargando ...
                          .valid-feedback You selected a position!
                          .invalid-feedback Please select a position!
                        br
                        .col-md-12
                          input.form-control.prueba(type='text' name='userid' required='true')
                          label.form-control-placeholder(for='Usuario') Usuario
                          .valid-feedback Usuario válido
                          .invalid-feedback Usuario no válido
                        br
                        .col-md-12
                          input#password-field.form-control(type='password' name='password' required='true')
                          label.form-control-placeholder(for='Contraseña') Contraseña
                          span.fa.fa-fw.fa-eye.field-icon.toggle-password(toggle='#password-field')
                          .valid-feedback Contraseña válida
                          .invalid-feedback Contraseña no válida
                        br
                        div(class='d-flex justify-content-center')
                          .form-button.mt-3
                            button#submit.btn.btn-primary(type='submit', value='submit') Registrarse
    include constante/footer
    if error_msg
        .modal(tabindex='-1' role='dialog' id='myModal')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5.modal-title Ha ocurrido un error
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                p #{error_msg}.
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar
script(src='/js/dependencias.js')
script(src='/js/main.js')
if error_msg
    script(src='/js/error.js')
