doctype html
html
    include constante/head.pug
    body
        include constante/navbar.pug
        form("action"="/signup" "method"="POST")
            label nombre
            input('name'='nombre','required'='true')
            br
            label paterno
            input('name'='paterno','required'='true')
            br
            label materno
            input('name'='materno')
            br
            label dependencia
            select('name'='dependenciaid', id='dependencia_select')
                option('value'=1) cargando...
            br
            label usuario
            input('name'='userid','required'='true')
            br
            label contraseña
            input('name'='password','required'='true')
            br
            input('type'='submit','value'='submit')
    include constante/footer
    script(src='/js/dependencias.js')