.bodyFooter {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #00001a, #00004d);
    background: linear-gradient(to right, #00001a, #00004d);
    font-family: 'Sanchez', serif
}

.containerFooter{
    background-color: #621132;
    color: red;

}

.containerFooter1{
    color: #621132;

}

.h1Footer{
    color: white;
    font-family: 'Readex Pro', sans-serif;
}

.pFooter{
    color: white;
    font-family: 'Readex Pro', sans-serif;
}

.footerCSS{
    background: black;
}

.divFooter{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

#button-addon1 {
    color: #ffc371
}

i {
    color: #0000cc;
    font-size: 20px
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic
}

.form-control.shadow-0:focus {
    box-shadow: none
}

.display-3 {
}

p {
    font-family: 'Tajawal', sans-serif
}

.lead {
}

