.prueba{
    color:red;
}

.bodyBackground {
  background: url(../img/angel.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.header .navbar {
  background-color: red;
}

.text-muted{
    color: whitesmoke !important;
}